{% extends 'base.html.twig' %}

{% block title %}StockMovement{% endblock %}

{% block body %}
    <h1>StockMovement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stock_movement.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ stock_movement.type }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ stock_movement.quantity }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ stock_movement.createdAt ? stock_movement.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_stock_movement_crud_index') }}">back to list</a>

    <a href="{{ path('app_stock_movement_crud_edit', {'id': stock_movement.id}) }}">edit</a>

    {{ include('stock_movement_crud/_delete_form.html.twig') }}
{% endblock %}
